.card{
    display: flex;
    color: black;
    margin: 10rem;
    margin-left: 33rem;
    background: white;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px gray;
    align-items: center;
    justify-content: center;
}
.thanks{
    color: blue;
    text-align: center;
    margin: 50;
}
